* {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: none;
}

.container {
  width: 6vw;
  position: absolute;
  height: auto;
  padding: 30px 0px;
  margin-top: 150px;
}

.logo {
  text-align: center;
  padding-top: 10px;
  border: none;
  outline: none;
  transition: 0.5s linear;
  width: 100%;
}

.logo:hover {
  transition: 0.2s linear;
  width: 120%;
  cursor: pointer;
}

.logo a,
.logo a:visited,
.logo a:active {
  color: white;
}

.instagram {
  background: radial-gradient(
    circle at 30% 110%,
    #ffdb8b 0%,
    #ee653d 25%,
    #d42e81 50%,
    #a237b6 75%,
    #3e5fbc 100%
  );
}

.facebook {
  background: linear-gradient(#16a8fd, #0a73af);
}

.linkedin {
  background: #1c71d3;
}

.youtube {
  background: red;
}

.twitter {
  background: #00aeff;
}

.close,.open {
  opacity: 0.2;
  padding:10px;
  cursor: pointer;
  width: 10px;
}

.open {
  display: none;
}


@media only screen and (max-width: 1200px) {
  * {
    font-size: 1.2em;
  }
  .logo {
    width: 180%;
  }
  .logo:hover {
   width: 190%;
  }
}

@media only screen and (max-width: 400px) {
 .logo {
   width: 280%;
 }
}